*{
    margin: 0;
    padding: 0;
}html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: #303436;
}
body{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}
h1{
    color: #f15c58;
    align-self: auto;
}
.input-group-text{
    width: 45vw;
    padding: 5%;
    margin: 1vh;
}

.dropdown-toggle
{
    margin:1vh;
    padding: 5%;
}

/*===============button=========*/
.btn:link,
.btn:visited,
.btn{
    background-color: #CB1F34 ;
    border-bottom: .3rem solid rgb(165, 3, 3);
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 1.5rem 6rem;
    border-radius: .5rem;
    display: flex;  
}
.btn:hover {
    box-shadow: 0 .8rem 1rem 0 rgba(0, 0, 0, 0.24), 0 1.2rem 1.3rem 0 rgba(8, 5, 5, 0.19);
}
.hero-text-box{
    position: relative;
    top: 600%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    height: 1rem;
}
.dropdown-item{
    width:fit-content;
    background-color: #f15c58;  
}

.dropdown-menu{
    background-color: #f15c58;
}
.btn-secondary{

    background-color: #f15c58;
    color: #f15c58;
}
.grade-option{
    background-color: #f15c58;
    color: #f15c58;
}
dropdownMenuButton1{
    background-color: #f15c58;
    color: #f15c58;
}
.dropdown-toggle{
    background-color: #f15c58;
    color: #f15c58;
}
.dropdown-menu{
    background-color: #f15c58;
    color: #f15c58;

}
.form-control{
    margin:1vh;
    padding: 5vh;
    height: 10%; 
}

